/node_modules
/public/storage
/public/upload
/storage/*.key
/vendor
/public/vendor
.env
.env.backup
.phpunit.cache
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode
composer.lock
/package-lock.json
package-lock.json
.DS_Store